<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="filtroNombre"
        placeholder="Ingresar un nombre...">
        <div style="position: absolute;color:red;" class="alert alert-primary" role="alert" v-if="alertaNombre()"> Por favor ingrese mas de 3 caracteres:</div>
    <br>
    <br>
        <input type="text" class="form-control" v-model="filtroDNI"
        placeholder="Ingresar un DNI...">
        <div style="position: absolute;color:red;" class="alert alert-primary" role="alert" v-if="alertaDNI()"> Por favor ingrese mas de 3 caracteres:</div>
    <br>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            filtroNombre: '',
            filtroDNI: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20443873"
                },
                {
                    nombre: "Juan",
                    apellido: "Perotti",
                    correo: "jperez@hotmail.com",
                    dni: "33555691"
                },
                {
                    nombre: "Pedro",
                    apellido: "Gomez",
                    correo: "pgomez12@aol.com.ar",
                    dni: "33555693"
                },
                {
                    nombre: "Luciana",
                    apellido: "Perez",
                    correo: "lucasp@aol.com.ar",
                    dni: "33555698"
                },
                {
                    nombre: "Juana",
                    apellido: "Martineis",
                    correo: "jmart@yahoo.com",
                    dni: "55345766"
                },
                {
                    nombre: "Dario",
                    apellido: "Lopez",
                    correo: "dlopez22@hotmail.com",
                    dni: "44333666"
                },
                {
                    nombre: "Adrian",
                    apellido: "Martinez",
                    correo: "amartinez@hotmail.com.ar",
                    dni: "33212333"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let nombreCompleto = `${persona.nombre} ${persona.apellido}`
                   return  (nombreCompleto.toLowerCase().includes(this.filtroNombre.toLowerCase()) || this.alertaNombre()) &&  (persona.dni.includes(this.filtroDNI) || this.alertaDNI())
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            alertaNombre() {
                return this.filtroNombre.length > 0 && this.filtroNombre.length < 4
            },
            alertaDNI() {
                return this.filtroDNI.length > 0 && this.filtroDNI.length < 4
            },
        }
    });
</script>